 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

 * {
     margin: 0;
     padding: 0;
 }

 html {
     font-size: 62.5%;
 }

 img {
     display: block;
 }



 .container {
     margin: 2%;
 }

 /* header */

 .img-header {
     width: 800px;
 }

 .about-container {
     display: flex;
     font-size: 2.4rem;
     padding: 3%;
 }

 .about-text {
     background-color: antiquewhite;
     display: flex;
     flex-direction: column;
     align-self: center;
     padding: 5% 3%;
     gap: 1.6rem;
     position: relative;

 }

 .about-description {
     padding-bottom: 64px;
 }

 .header-icons {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 16px;
     bottom: 5%;
     right: 5%;
     position: absolute;
 }

 .header-icon {
     width: 40px;
 }

 /* main content */

 .cards-container {
     display: flex;
     flex-direction: column;
     gap: 1.6rem;
 }

 .cards {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 1200px;
     gap: 4.8rem;
 }

 .placeholder-image {
     background-color: red;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 400px;
     height: 300px;
     font-size: 4.8rem;
 }

 .meal-info {
     background-color: blueviolet;
     width: 400px;
     height: 200px;
     padding: 2.4rem;
     display: flex;
     flex-direction: column;
     gap: 1.6rem;
 }

 .card-title {
     display: flex;
     font-size: 3.2rem;
     justify-content: space-between;
 }

 .card-icons {
     display: flex;
     gap: 8px;
     align-items: center;
 }

 .card-icon {
     width: 24px;
 }

 .meal-description {
     font-size: 1.6rem;
 }